@import '../../../styles/settings.scss';

.root {
  margin: 0 30px;

  .container {
    margin: 150px 0 80px 0;

    .cardItem {
      margin: 20px 0 30px 0;
    }

    .addToCart {
      text-decoration: none;
      color: $color-main;
      border: 2px solid $color-main;
      padding: 8px 15px;
      border-radius: 5px;
      transition: $transition;
      font-weight: bold;

      &:hover {
        background: $color-main;
        color: $color-white;
      }
    }
  }

}
