@import '../../../styles/settings.scss';

.root {
  box-shadow: $box-shadow;
  border-radius: 5px;

  .hotDealsContent {
    padding-top: 15px;
    color: $color-black;
    text-align: center;
  }

  img {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }
}
