@import '../../../styles/settings.scss';

.root {
  margin-bottom: 40px;
  margin-top: 80px;

  .navBar {
    background: $color-gray;


    .menuWrapper {
      margin: auto;

      .product {
        padding: 10px 25px;
        font-weight: bold;
        text-decoration: none;
        background: linear-gradient(to right, $color-main, $color-main 50%, $color-black 50%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-size: 200% 100%;
        background-position: 100%;
        transition: background-position 375ms ease;
        text-decoration: none;
        &:hover {
          background-position: 0 100%;
        }
      }
    }
  }
}


