@import '../../../styles/settings.scss';

.root {

  .promoWrapper {
    position: relative;

    .promo {
      position: absolute;
      padding: 10px 15px;
      background: $color-black;
      color: $color-white;
      width: 100%;
      color: $color-white;
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      .cta {
        color: $color-main;
        padding: 5px 10px;
        border-radius: 5px;
        text-decoration: none;
      }
    }

    .promoImage {
      width: 100%;
      height: 350px;
    }
  }
}
