@import '../../../styles/settings.scss';

.root {
  box-shadow: $box-shadow;
  border-radius: 5px;

  .promoWrapper {
    position: relative;

    .promo {
      padding-top: 15px;
      color: $color-black;
      width: 100%;
      text-align: center;
    }

    .promoImage {
      width: 100%;
      height: 250px;
      background: url('/images/products/moss.jpg');
      background-size: 100%;
      background-position-x: 20%;
      background-position-y: 20%;
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
    }
  }
}
