@import '../../../styles/settings.scss';

.root {

  .menu {
    text-align: right;
  }

  .navBar {
    position: fixed;
    background: $color-white;
    z-index: 999;
    width: 100%;
    top: 0;
    box-shadow: $box-shadow;

    .link {
      font-weight: bold;
      text-decoration: none;
      background: linear-gradient(to right, $color-main, $color-main 50%, $color-black 50%);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-size: 200% 100%;
      background-position: 100%;
      transition: background-position 375ms ease;
      text-decoration: none;
      display: flex;
      flex-direction: row;
      margin-bottom: -10px;
      &:hover {
        background-position: 0 100%;
      }
    }

    .cart {
      color: $color-black;
      font-weight: bold;
      display: flex;
      flex-direction: row;
      text-decoration: none;
    }

    .iconCart {
      margin-right: 5px;
      margin-top: 2px;
      color: $color-main;
      font-size: 22px;
    }

    .iconLogin {
      margin-right: 5px;
      color: $color-main;
    }

    a {
      padding: 10px 25px;
    }

    .sygnsHome {
      background: transparent;
      display: flex;
      text-decoration: none;

      .logo {
        width: 80px;
        margin: -40px 0;
      }

      .shop {
        color: $color-main;
        font-style: italic;
        font-size: 12px;
        padding-top: 5px;
        font-weight: bold;
      }
    }
  }

  .appBar {
    background: white;

    .toolBar {
      justify-content: space-between;

      .dropdown {
        background:transparent;
        border: none;
        color: $color-black;
        outline: none;

        &:focus, &:after, &:hover {
          outline: none;
          background: transparent;
          box-shadow: transparent;
        }
      }

      .cart {
        color: #F945EC;
      }
    }
  }
}
