@import '../../../styles/settings.scss';

.root {
  .banner {
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('/images/products/moss-jungle.png');
    height: 400px;
    background-repeat: no-repeat;
    background-size: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
    background-position-x: 20%;
    background-position-y: 80%;
    transition: 2s;
    background-attachment: fixed;

    &:hover {
      background-position-y: 100%;
    }

    .title {
      text-align: center;
      color: $color-white;

      h1 {
        padding-bottom: 20px;
        text-shadow: 0 0 1px $color-white, 0 0 1px $color-white, 0 0 2px $color-white, 0 0 2px $color-white, 0 0 7px $color-white, 0 0 15px $color-white, 0 0 20px $color-white;
        letter-spacing: 2px;
      }

      .configure {
        text-decoration: none;
        background: linear-gradient(to right, $color-white, $color-white 50%, $color-main 50%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-size: 200% 100%;
        background-position: 100%;
        transition: background-position 375ms ease;
        text-decoration: none;
        flex-direction: row;
        margin-bottom: -10px;
        &:hover {
          background-position: 0 100%;
        }
      }

      h1 {
        font-size: 70px;
      }
    }
  }

  .home {
    margin: 0 auto;
    max-width: 1180px;
    padding: 30px;

    .products {
      text-align: center;
      margin: 60px 0 50px 0;
      font-weight: bold;
      position: relative;

      &:after {
        content: '';
        position: absolute;
        width: 70px;
        height: 3px;
        background: $color-main;
        bottom: -10px;
        left: 0;
        right: 0;
        margin: auto;
    }
    }

    .cardContainer {
      .card {
        padding: 0;
      }

      .cardItem {
        flex-basis: 20%;
        margin: 15px;
        flex-grow: 1;
        box-shadow: $box-shadow;

        .cardLink {
          text-decoration: none;

          .title {
            color: $color-black;
            text-decoration: none;
          }

          .content {
            padding-bottom: 10px;
          }

          .cta {
            text-decoration: none;
            color: $color-main;
            padding-top: 10px;
          }

          .image {
            height: 200px;
          }

          .price {
            color: $color-white;
            margin-bottom: 5px;
            padding: 5px 7px;
            background: $color-main;
            width: fit-content;
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .root {
    .banner {
      background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('/images/products/moss-jungle.png');
      background-position-x: 40%;
      background-position-y: 65%;
      background-size: 140%;
      height: 400px;

      &:hover {
        display: none;
      }

      .title {
        max-width: 300px;

        h1 {
          font-size: 60px;
          padding-top: 20px;
        }
        h3 {
          display: none;
        }
      }
    }
  }
}

@media (max-width: 1024px) {
  .title {
    h1 {
      font-size: 10px;
    }
  }

  .section {
    margin-top: 20px;
  }
}
