@import '../../../styles/settings.scss';

.root {
  max-width: 1280px;
  margin: auto;
  padding: 30px;

  .title {
    text-align: center;
    margin: 170px 0 110px 0;
  }

  .promote {
    margin: 50px 15px;
  }

  .card {
    display: flex;
    justify-content: space-between;
    flex-basis: 100%;
    flex-wrap: wrap;

    .cardItem {
      flex-basis: 20%;
      margin: 15px;
      flex-grow: 1;

      .cardLink {
        text-decoration: none;

        .image {
          height: 200px;
        }
      }
    }
  }
}
