@import '../../../styles/settings.scss';

.root {
  margin: 0 auto;
  max-width: 1180px;

  .cartContainer {
    margin: 150px 40px 80px 40px;

    .totalPrice {
      text-align: right;
      padding-top: 30px;
    }

    .navCart {
      color: $color-gray-text;
      margin-left: 20px;
      padding-bottom: 15px;
    }

    .cartTitle {
      display: flex;
      flex-direction: row;
      padding-bottom: 30px;

      .cartIcon {
        color: $color-main;
        margin: 2px 5px 0 0;
      }
    }

    .product {
      box-shadow: $box-shadow;
      padding: 20px 20px 10px 20px;

      .remove {
        float: right;
        cursor: pointer;
        color: $color-gray-text;
      }
    }

    .order {
      text-decoration: none;
      float: right;
      margin-top: 40px;
      color: $color-main;
      border: 2px solid $color-main;
      padding: 8px 15px;
      border-radius: 5px;
      transition: $transition;
      font-weight: bold;

      &:hover {
        background: $color-main;
        color: $color-white;
      }

    }
  }

}
